---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GithubIcon from "../components/icons/Github.astro";
import MailIcon from "../components/icons/Mail.astro";
import SocialList from "../components/SocialList.astro";
import Experience from "../components/Experience.astro";
import ProjectIcon from "../components/icons/ProjectIcon.astro";
import ExperienceIcon from "../components/icons/ExperienceIcon.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Mardev Portfolio - WebDeveloper."
  description="Comprometido con el desarrollo de sitios web y aplicaciones web de alta calidad que satisfagan las necesidades de sus clientes. Contrata a mardev y crea tus proyectos web hoy mismo."
>
  <main>
    <!--Home/ Section Hero -->
    <SectionContainer>
      
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        👋 Hey, I'm Marlon <a
          href="https://www.linkedin.com"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Available to work</Badge>
        </a>
      </h1>

      <h2 class="text-2xl text-white">
        +1 years of experience. <span class="text-yellow-100/90"
          >Computer technician, Web Developer and Systems Engineering Student.</span
        >
        <span class="text-red-200/90">From Zulia, Venezuela.</span><span
          class="text-sky-200/80"
        >
          Able to make unique Apps.</span
        >
      </h2>

      <nav class="flex gap-x-4 mt-4">
        <SocialList href="https://www.linkedin.com">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialList>
        <SocialList href="https://www.github.com">
          <GithubIcon class="size-6" />
          Github
        </SocialList>
        <SocialList href="https://www.mail.com">
          <MailIcon class="size-6" />
          marlonmogollon13@gmail.com
        </SocialList>
      </nav>
    </SectionContainer>

    <!--Section to Experience -->
    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-4 flex gap-x-3 items-center">
        <ExperienceIcon class="size-7" />Experience
      </h2>
      <Experience />
    </SectionContainer>

    <!--Section to Projects -->
    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-4 flex items-center gap-x-3">
        <ProjectIcon class="size-7" />Projects
      </h2>

      <Projects />
    </SectionContainer>
  </main>
</Layout>

<style></style>
