<span
  class="bg-[linear-gradient(110deg,#000103,45%,#1e2631,55%,#000103)] bg-[length:200%_100%]text-gray-400 transition-colors text-xs font-medium me-2 px-2.5 py-1 rounded-md flex items-center gap-2 relative animate-background-shine"
>
  <span class="size-3 bg-red-400 rounded-full animate-ping absolute inline-flex"
  ></span>
  <span class="relative inline-flex rounded-full size-3 bg-red-600"></span>
  <slot />
</span>
