<span 
    class="bg-blue-100 text-blue-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 flex items-center gap-2 relative">
    <span class="size-3 bg-red-400 rounded-full animate-ping absolute inline-flex"></span>
    <span class="relative inline-flex rounded-full size-3 bg-red-600"></span>
    <slot/>

</span>