<header class="flex sticky top-0 justify-center items-center py-6 w-[1000px] mx-auto z-10">

    <nav class="flex flex-row items-center gap-x-6 bg-transparent backdrop-blur-2xl border border-white/20 rounded-full px-3 py-1">
        <a class="hover:bg-white/10 rounded-full px-3 transition" href="#top">Home</a>
        <a class="hover:bg-white/10 rounded-full px-3 transition" href="#experience">Experience</a>
        <a class="hover:bg-white/10 rounded-full px-3 transition" href="#projects">Projects</a>
        <a class="hover:bg-white/10 rounded-full px-3 transition" href="#about">About</a>
        <a class="hover:bg-white/10 rounded-full px-3 transition" href="#contact">Contact</a>
    </nav>

</header>